Sitairis/kr2/res/schema2.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tickets">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ticket" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:long" name="departureTime" use="optional"/>
                                <xs:attribute type="xs:long" name="arrivalTime" use="optional"/>
                                <xs:attribute type="xs:string" name="from" use="optional"/>
                                <xs:attribute type="xs:string" name="to" use="optional"/>
                                <xs:attribute type="xs:short" name="routeNum" use="optional"/>
                                <xs:attribute type="xs:long" name="sellTime" use="optional"/>
                                <xs:attribute type="xs:string" name="passengerName" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>